node_modules/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Client-side/build/
coverage/
server/uploads/*
!server/uploads/.gitkeep

.DS_Store
Thumbs.db
images/
Client-side/build/
Client-side/public
